/* Copied from Docco */

$font-size: 14px;
$line-height-multi: 1.7;
@import "reset";
@import "base";

@import "solarized";

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  color: #4183c4;
}
a:visited {
  color: gray;
}

h1, h2, h3, h4 {
  margin-bottom: $vert-spacing;
  /*letter-spacing: -1px;*/
}
h2 {
  border-bottom: 2px solid #ddd;
}
h3, h4 {
  border-bottom: 1px solid #ddd;
}

h2 {
  font-size: $font-size * 1.5;
  line-height: $line-height * 1.5;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size * 1.4;
  line-height: $line-height * 1.5;
  /*font-weight: normal;*/
}

h4 {
  font-size: $font-size * 1.2;
  line-height: $line-height;
  border-bottom: none;
}

pre, tt, code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
}

ul {
  list-style-type: square;
  margin-left: 19px;
}

#container {
  position: relative;
  height: 100%;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: solarized-back($flavor: "dark");
}
#background .docs {
  height: 100%;
}

#nav-wrapper {
  background: white;
  -webkit-box-shadow: 0 0 10px #777; -moz-box-shadow: 0 0 10px #777;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 11px;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  position: absolute;
  z-index: 1;
  top: 0;
  left: $vert-spacing * 2;
  padding: 8px 10px;
}
#nav {
  text-transform: uppercase;
  padding: 5px;
}
#nav-links {
  display: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .source {
    display: block;
    padding: 5px;
    text-decoration: none;
  }
  .source:hover {
    text-decoration: underline;
  }
}
#nav-wrapper.active {
  #nav { display: none; }
  #nav-links { display: block; }
}

table {
  margin: 0;
  width: 100%;
  /*height: 100%;*/
}

table td {
  border: 0;
  outline: 0;
}

.docs, .code {
  padding-left: $vert-spacing * 2;
  padding-right: $vert-spacing * 2;

  #container table > thead & {
    padding-top: $vert-spacing + 40px;
  }
  table > tfoot & {
    padding-bottom: $vert-spacing * 2;
  }

  table > thead &, table > tbody > tr:nth-child(1) & {
    background: -webkit-linear-gradient($solarized-base3, white);
  }
  table > tbody > tr:nth-child(1) & {
    border-bottom: 1px solid #ddd;
    padding-bottom: $vert-spacing - 10px;
  }
  table > tbody > tr:nth-child(2) & {
    padding-top: $vert-spacing;
  }

  tr.header & {
    padding-top: $vert-spacing;
  }
  tr.just-header + tr.header & {
    padding-top: 0
  }
  /*
  tr.just-header & {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0
    }
  }
  */
}

.docs {
  @include solarized($flavor: "light");

  width: 45em;
  /*overflow-x: hidden;*/
  vertical-align: top;
  text-align: left;
  background-color: white;
  position: relative;
  text-align: justify;

  .args {
    text-transform: uppercase;
    font-size: 90%
  }

  pre, *:not(pre) > code {
    background-color: #fcfcfc;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  code, tt {
    font-size: 85%;
    /*
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    line-height: $line-height - 6px;
    */
  }
  pre {
    font-size: 85%;
  }

  pre {
    padding: 5px 10px;
  }

  > div {
    position: relative
  }

  tbody > tr[data-parent-index] & {
    font-size: 95%;
    /*padding-left: $vert-spacing * 2;*/

    > div {
      margin-left: 29px;
      /*border-left: 2px solid silver;*/
      /*padding-left: $vert-spacing / 2;*/
      /*
      border-radius: 3px;
      border: 1px solid #ddd;
      padding: 5px 7px;
      background-color: rgb(255,255,239);
      */

      /*
      p:last-child {
        margin-bottom: 0
      }
      */
    }

    .note {
      padding-right: 5px;
      float: left;
      margin-left: -21px;
      position: relative;
      top: 3px;
    }
  }

  blockquote {
    border-left: 2px solid #ddd;
    padding-left: 10px;
  }
}

.pilcrow {
  font: 12px Arial;
  line-height: inherit;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  position: absolute;
  top: 0px;
  left: -$vert-spacing;

  a {
    text-decoration: none;
    color: #454545;
  }

  td.docs:hover & {
    opacity: 1;
  }
}

.code {
  @include solarized($flavor: "dark");
  background-color: solarized-back($flavor: "dark");

  font-size: 12px;
  vertical-align: top;
  /*width: 50em;*/

  .header > & {
    padding-top: 10px;
  }

  pre {
    white-space: pre-wrap;
    margin-bottom: 0
  }
}

